---
permalink: 'css/dark.css'
---

:root {
{% for color in theme.colors.dark -%}
    --color-{{ color.name -}}: {{ color.value }};
{% endfor -%}
}

{% include 'css/_includes/light.css' %}
{% include 'css/_includes/dark.css' %}
