:root {
    /*
        Sizing

        Name source:
        https://www.furryfriendsgear.com/how-do-i-know-what-size-boots-to-get-my-dog/
    */
    --size-base: 1rem;
    --size-yorkie: calc(var(--size-base, 1rem) * 0.25);
    --size-beagle: calc(var(--size-base, 1rem) * 0.5);
    --size-collie: calc(var(--size-base, 1rem) * 0.75);
    --size-labrador: calc(var(--size-base, 1rem) * 1.25);
    --size-akita: calc(var(--size-base, 1rem) * 1.5);
    --size-dane: calc(var(--size-base, 1rem) * 1.75);
    --size-wolf: calc(var(--size-base, 1rem) * 2);
}

html,
body {
    font-size: 18px;
    line-height: 1.5;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
        "header nav"
        "main main"
        "aside aside"
        "footer footer";
    grid-gap: var(--size-labrador, 1.25rem);
    font-family: sans-serif;
    font-weight: 300;
}

header,
aside,
main,
footer {
    padding: var(--size-beagle, 0.5rem);
}

header {
    margin: auto 0 0;
}

nav {
    align-self: center;
}

main {
    grid-area: main;
    max-width: 80ch;
}

aside {
    align-self: end;
}

footer {
    grid-area: footer;
    align-self: end;
}

h1, b, strong {
    font-weight: 600;
}

.h-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.h-list__item {
    margin-right: var(--size-base, 1rem);
}

.no-display {
    display: none !important;
}

/*
    Source:
    https://css-tricks.com/comparing-various-ways-to-hide-things-in-css/#method-5-the-visually-hidden-class
*/
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.title {
    --min-size: var(--size-akita, 1.5rem);
    --middle-value: 100vw;
    --max-size: calc(var(--size-akita, 1.5rem) * 2);
    font-size: clamp(var(--min-size), var(--middle-value), var(--max-size));
    margin: 0;
}

.icon {
    width: var(--size-wolf, 2rem);
    height: var(--size-wolf, 2rem);
}

.footer {
    font-size: var(--size-collie, 0.75rem);
}

@media (min-width: 768px) {
    body {
        grid-template-areas:
            "header main"
            "nav main"
            "footer main";
    }

    header {
        align-self: end;
    }

    nav {
        align-self: start;
    }

    aside {
        grid-area: footer;
        margin-bottom: 10vh;
    }
}
