:root {
    /*
        Sizing

        Name source:
        https://www.furryfriendsgear.com/how-do-i-know-what-size-boots-to-get-my-dog/
    */
    --size-base: 1rem;
    --size-yorkie: calc(var(--size-base, 1rem) * 0.25);
    --size-beagle: calc(var(--size-base, 1rem) * 0.5);
    --size-collie: calc(var(--size-base, 1rem) * 0.75);
    --size-labrador: calc(var(--size-base, 1rem) * 1.25);
    --size-akita: calc(var(--size-base, 1rem) * 1.5);
    --size-dane: calc(var(--size-base, 1rem) * 1.75);
    --size-wolf: calc(var(--size-base, 1rem) * 2);
}

html,
body {
    font-size: 18px;
    line-height: 1.5;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
        "aside main";
    grid-gap: var(--size-labrador, 1.25rem);
    font-family: sans-serif;
    font-weight: 300;
}

aside,
main {
    padding: var(--size-beagle, 0.5rem);
}

aside {
    position: sticky;
    top: 0;
    width: 20vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
}

header {
    grid-area: header;
    margin: 0 0 auto 0;
}

main {
    grid-area: main;
    max-width: 80ch;
}

footer {
    grid-area: footer;
    align-content: end;
}

h1, b, strong {
    font-weight: 600;
}

.h-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h-list__item {
    margin-right: var(--size-base, 1rem);
}

.no-display {
    display: none !important;
}

/*
    Source:
    https://css-tricks.com/comparing-various-ways-to-hide-things-in-css/#method-5-the-visually-hidden-class
*/
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.title {
    font-size: calc(var(--size-akita, 1.5rem) * 1.5);
    margin: 0;
}

.social {
    margin: var(--size-akita, 1.5rem) 0;
}

.icon {
    width: var(--size-wolf, 2rem);
    height: var(--size-wolf, 2rem);
}

.footer {
    font-size: var(--size-collie, 0.75rem);
}

@media (min-width: 400px) {
    .title {
        font-size: calc(var(--size-akita, 1.5rem) * 2)
    }
}
