:root {
    /*
        Colours
        Coolors Exported Palette - https://coolors.co/0d1b2a-e8e8e8-93a3b1-119da4-b3094b
    */
    --color-texas: 13, 27, 42;
    --color-wyoming: 232, 232, 232;
    --color-wash: 147, 163, 177;
    --color-tucker: 17, 157, 164;
    --color-simmons: 179, 9, 75;
    --color-caboose: 9, 93, 179;

    /*
        Misc variables
    */
    --transition: 0.2s ease-out;
}

body {
    background-color: rgb(var(--color-wyoming));
    color: rgb(var(--color-texas));
}

svg {
    fill: currentColor;
    transition: color var(--transition);
}

a {
    color: rgb(var(--color-caboose));
    transition: color var(--transition);
}

a:hover,
a:focus {
    color: rgb(var(--color-tucker));
}

.title {
    margin: var(--size-collie);
    font-size: calc(var(--size-wolf) * 2);
    color: rgba(var(--color-simmons), 0.75);
}

.social {
    margin: var(--size-akita) 0;
}

.icon {
    width: var(--size-wolf);
    height: var(--size-wolf);
    color: rgb(var(--color-texas));
}

.icon--github:hover,
.icon--github:active {
    color: rgb(var(--color-wash));
}

.icon--linkedin:hover,
.icon--linkedin:active {
    color: rgb(var(--color-caboose));
}

.icon--email:hover,
.icon--email:active {
    color: rgb(var(--color-simmons));
}

.footer {
    font-size: var(--size-collie);
}
