:root {
    /*
        Colours
        Coolors Exported Palette - https://coolors.co/0d1b2a-e8e8e8-93a3b1-119da4-b3094b
    */
    --color-texas: 13, 27, 42;
    --color-wyoming: 232, 232, 232;
    --color-wash: 147, 163, 177;
    --color-tucker: 17, 157, 164;
    --color-simmons: 179, 9, 75;

    --color-meta: 247, 247, 247;
    --color-carolina: 12, 113, 118;
    --color-caboose: 9, 93, 179;
    --color-donut: 249, 174, 203;

    /*
        Sizing

        Swiped from this dog foot sizing chart:
        https://www.furryfriendsgear.com/how-do-i-know-what-size-boots-to-get-my-dog/
    */
    --size-base: 1rem;
    --size-yorkie: calc(var(--size-base) * 0.25);
    --size-beagle: calc(var(--size-base) * 0.5);
    --size-collie: calc(var(--size-base) * 0.75);
    --size-labrador: calc(var(--size-base) * 1.25);
    --size-akita: calc(var(--size-base) * 1.5);
    --size-dane: calc(var(--size-base) * 1.75);
    --size-wolf: calc(var(--size-base) * 2);

    /*
        Misc variables
    */
    --transition: 0.2s ease-out;
}

/*
    Base styles
*/
html,
body {
    font-size: 16px;
    line-height: 1.25;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: rgb(var(--color-wyoming));
    color: rgb(var(--color-texas));
}

h1, b, strong {
    font-weight: 600;
}

svg {
    fill: currentColor;
    transition: color var(--transition);
}

a {
    color: rgb(var(--color-caboose));
    transition: color var(--transition);
}

a:hover,
a:focus {
    color: rgb(var(--color-tucker));
}

/*
    Trumps, helpers and utilities
*/
.h-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h-list > * + * {
    margin-left: var(--size-base);
}

.no-display {
    display: none !important;
}

/*
    Swiped directly from CSS tricks:
    https://css-tricks.com/comparing-various-ways-to-hide-things-in-css/#method-5-the-visually-hidden-class
*/
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*
    Custom styles
*/
.title {
    margin: var(--size-collie);
    font-size: calc(var(--size-wolf) * 2);
    color: rgba(var(--color-simmons), 0.5);
}

.social {
    margin: var(--size-akita) 0;
}

.icon {
    width: var(--size-wolf);
    height: var(--size-wolf);
    color: rgb(var(--color-texas));
}

.icon--github:hover,
.icon--github:active {
    color: rgb(var(--color-wash));
}

.icon--linkedin:hover,
.icon--linkedin:active {
    color: rgb(var(--color-caboose));
}

.icon--email:hover,
.icon--email:active {
    color: rgb(var(--color-simmons));
}

.footer {
    font-size: var(--size-collie);
}
