{% if site.contact.length %}
<h3 class="social-title">Contact me</h3>
<ul class="h-list social">
    {% for item in site.contact %}
        <li class="h-list__item">
            <a href="{{ item.url }}" target="_blank" rel="noreferrer noopener" title="{{ item.title }}">
                <svg role="img" class="icon icon--{{ item.icon }}">
                    <title>{{ item.title }}</title>
                    <use xlink:href="#icon--{{ item.icon }}" />
                </svg>
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}
