{% if site.contact.length %}
<div class="contact">
    <h3 class="social-title">Contact me</h3>
    <ul class="social flex space-x-[1rem]">
        {% for item in site.contact %}
            <li class="h-list__item">
                <a href="{{ item.url }}" target="_blank" rel="noreferrer noopener" title="{{ item.title }}">
                    <svg role="img" class="icon icon--{{ item.icon }} size-[2rem]">
                        <title>{{ item.title }}</title>
                        <use xlink:href="#icon--{{ item.icon }}" />
                    </svg>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
