{% if site.navigation.length %}
<nav>
    <ul class="h-list">
        {% for item in site.navigation %}
            <li class="h-list__item">
                <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
