body {
    background-color: rgb(var(--color-wyoming));
}

.content {
    background-color: rgba(var(--color-wash), 0.05);
}

.field-input,
.field-textarea {
    background-color: rgb(var(--color-wyoming));
}

.field-input::placeholder,
.field-textarea::placeholder {
    color: rgb(var(--color-caboose));
}
