---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/default.astro';
import PostCard from "../../components/post-card.astro"

export async function getStaticPaths() {
  const posts = (await getCollection('posts'))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  const uniqueTags = [...new Set(posts.map((post: any) => post.data.tags).flat())];

  return uniqueTags.filter(Boolean).map(tag => ({
    params: { tag: `${tag}`.replace(/\s/g, "-") },
    props: { posts: posts.filter(({ data: { tags }}) => tags.includes(tag)), unformattedTag: tag },
  }));
};

const { tag } = Astro.params;
const { posts, unformattedTag } = Astro.props;
---

<Layout title={`Posts tagged with "${unformattedTag}"`}>
  <div class="content-aside">
  <h2>Posts tagged with <code>{unformattedTag}</code></h2>
  </div>
  <section class="post-list">
    {posts.map((post) => (<PostCard {...post.data} href={`/posts/${post.id}`} />))}
  </section>
</Layout>
