---
import "/public/styles/global.css"
import "/public/styles/utility.css"

const title = "lynds.dev";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/styles/light.css" />
		<link rel="stylesheet" type="text/css" href="/styles/dark.css" media="(prefers-color-scheme: dark)" />
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/posts">Posts</a></li>
			</ul>
		</nav>
		<h1>Astro</h1>
		<slot /> 
	</body>
</html>
