---
import { getCollection, render } from 'astro:content';
import Layout from "../layouts/default.astro"
import PostBody from '../components/post-body.astro'
import PostCard from '../components/post-card.astro'

const posts = (await getCollection('posts')).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const latestPost = posts[0];
const recentPosts = posts
	.filter(({ id }) => id !== latestPost.id)
	.slice(0, 2);

const { Content } = await render(latestPost);
---

<Layout>
	<PostBody {...latestPost.data}>
		<Content />
	</PostBody>
	<section class="post-list">
	  <h3 class="title">Recent posts</h3>
    {recentPosts.map((post) => (
      <PostCard {...post.data} href={`/posts/${post.id}`} />
    ))}
  </section>
</Layout>
