---
import { getCollection } from 'astro:content';
import Layout from '../layouts/default.astro'

const title = "Tags"

const posts = (await getCollection('posts')).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const uniqueTags = [...new Set(posts.map((post: any) => post.data.tags).flat())];
---
<Layout>
  <h1>Tags</h1>

  <ul>
    {uniqueTags.map(tag => (
      <li>
        <a href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))}
  </ul>
</Layout>
