<nav class="page-navigation no-print">
  <label for="navigation" class="navigation-toggle-label">Menu</label>
  <input type="checkbox" name="navigation" id="navigation" class="navigation-toggle visually-hidden" />
  <ul class="navigation no-list-style">
    <li class="list-item"><a href="/posts">View all posts</a></li>
  </ul>
</nav>
