:root {
  --color-midnight-violet: #211226;
  --color-bubblegum: #740630;
  --color-mauve: #9D247B;
  --color-mauve-translucent: #9D247B33;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: var(--color-midnight-violet);
  color: var(--color-powder);
}

a,
.link {
  color: var(--color-coral);
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: var(--color-powder);
}

.card,
.content-body + .post-list {
  border-color: var(--color-mauve);
}

.page-aside,
.page-footer {
  background-color: var(--color-mauve-translucent);
}

@media screen and (min-width: 64rem) {
  .page-header,
  .page-navigation {
    background-color: var(--color-mauve-translucent);
  }
}
