:root {
  --color-peony: #AF3170;
  --color-graphite: #141414;
  --color-sky: #5CABFF;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: var(--color-graphite);
  color: var(--color-ivory);
}

a,
.link {
  color: var(--color-sky);
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: var(--color-ivory);
}

.page-aside,
.page-footer {
  background-color: var(--color-azure);
}

@media screen and (min-width: 64rem) {
  .page-header,
  .page-navigation {
    background-color: var(--color-azure);
  }

  .navigation a {
    color: inherit;
  }
}
