body {
  margin: 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content 1fr;
  align-items: center;
  grid-template-areas: 
    "header navigation"
    "main main"
    "aside aside"
    "footer footer"
  ;
}

.page-header {
  grid-area: header;
}

.page-navigation {
  grid-area: navigation;
  justify-self: right;
  position: relative;
}

.page-content {
  grid-area: main;
}

.page-aside {
  grid-area: aside;
}

.page-footer {
  grid-area: footer;
}

/* Utility and common classes */
.h-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.h-list .list-item {
  display: inline-block;
}

.h-list .list-item + .list-item {
  margin-left: 1rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.no-display {
  display: none !important;
}

.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

@media print {
  .no-print {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .navigation-toggle:not(:checked) + .navigation {
    display: none;
  }

  .navigation {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100vw;
    z-index: 1;
  }
}

@media screen and (min-width: 1024px) {
  .navigation-toggle,
  .navigation-toggle-label {
    display: none;
  }
}
