html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} 

body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
    "header navigation"
    "main main"
    "aside aside"
    "footer footer"
  ;
  min-height: 100vh;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

mark,
.highlight {
  padding: 0.25rem;
}

.page-header {
  grid-area: header;
}

.page-header .title {
  font-size: 1.75rem;
}

.page-navigation {
  justify-self: stretch;
  align-self: stretch;
  text-align: right;
}

.page-navigation .navigation {
  padding: 0.5rem 0;
}

.page-content {
  grid-area: main;
}

.page-aside {
  grid-area: aside;
}

.page-footer {
  grid-area: footer;
}

.page-footer p {
  margin: 0 0 0.25rem 0;
}

.title {
  margin: 0;
}

.cool-title {
  line-height: 3.5rem;
  box-decoration-break: clone;
  padding: 1rem;
}

.content-aside h1 {
  position: relative;
  left: -1rem;
  margin-bottom: 3.5rem;
}

.content-aside .highlight {
  position: relative;
  left: -0.25rem;
}

.social a {
  /* Allow the cursor outline to highlight the whole icon */
  display: inline-block;
}

/* Utility and common classes */

.no-list-style,
.h-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.h-list .list-item {
  display: inline-block;
}

.h-list .list-item + .list-item {
  margin-left: 1rem;
}

.no-list-style .list-item + .list-item {
  margin-top: 1rem;
}

.code {
  width: 100%;
  overflow-y: auto;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.no-display {
  display: none !important;
}

.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.text-small {
  font-size: 0.75rem;
}

@media print {
  .no-print {
    display: none !important;
  }
}

@media screen and (max-width: 63.9375rem) {
  body {
    align-items: center;
  }

  .page-header,
  .page-navigation,
  .page-aside,
  .page-footer,
  .content-aside,
  .post-list {
    padding: 0.5rem 1rem;
  }

  .page-header,
  .page-navigation {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .page-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navigation-toggle:not(:checked) + .navigation {
    display: none;
  }

  .navigation {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100vw;
  }

  .navigation .list-item {
    margin: 0 1rem;
  }

  .page-content {
    align-self: stretch;
    align-content: start;
  }

  .content-aside h1 {
    margin-top: 1rem;
  }

  .post-list {
    padding-bottom: 1rem;
    gap: 1rem;
  }

  .page-aside,
  .page-footer {
    text-align: center;
  }
}

@media screen and (min-width: 37.5rem) {
  .page-content,
  .post-list {
    display: grid;
    grid-template-columns: subgrid;
  }

  .content-aside,
  .content-body,
  .post-list,
  .post-list .title {
    grid-column: span 2;
  }
}

@media screen and (min-width: 64rem) {
  body {
    column-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
      "main header"
      "main navigation"
      "main aside"
      "main footer"
    ;
    position: relative;
    min-height: 100vh;
  }

  .page-header,
  .page-navigation,
  .page-aside,
  .page-footer {
    grid-column: span 3;
    text-align: right;
    order: 1;
    padding: 1rem;
  }

  .page-header,
  .page-navigation,
  .page-aside {
    padding-bottom: 0;
  }

  .page-content,
  .post-list {
    grid-column: span 10;
    display: grid;
    grid-template-columns: subgrid;
  }

  .content-aside {
    position: relative; 
    grid-column: span 4;
    grid-row: span 4;
    padding: 1rem;
  }

  .content-body,
  .post-list {
    grid-column: span 6;
    padding: 1rem;
  }

  .post-list,
  .post-list .title {
    grid-column: span 6;
  }

  .post-list .card {
    grid-column: span 3;
  }

  .navigation-toggle,
  .navigation-toggle-label {
    display: none;
  }
}
