:root {
  --grid-gap: 1rem;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} 

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap);
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

body > [class*="page-"] {
  grid-column: span 2;
  padding: 0 0.5rem;
}

h1,
.heading {
  font-weight: 400;
  font-family: "Alfa Slab One", sans-serif;
}

code,
pre,
.code {
  font-family: "Fira Code", monospace;
}

mark,
.highlight {
  padding: 0.25rem;
}

.text-small {
  font-size: 0.75rem;
}

.no-list-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.h-list {
  display: flex;
  gap: var(--grid-gap);
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.cool-title {
  line-height: 3.5rem;
  box-decoration-break: clone;
  padding: 1rem;
}

.page-header,
.page-content,
.content-posts,
.post-list {
  display: grid;
  grid-template-columns: subgrid;
  gap: var(--grid-gap);
}

.navigation {
  text-align: right;
}

.content-aside,
.content-body,
.content-posts,
.content-posts .title,
.post-list {
  grid-column: span 2;
}

.content-date,
.content-tags {
  font-size: 0.875rem;
}

:not(.content-body) h1,
:not(.content-body) h2,
:not(.content-body) h3,
:not(.content-body) h4,
:not(.content-body) h5,
:not(.content-body) h6 {
  margin-top: 0;
}

.post-list {
  grid-template-rows: auto;
}

.post-list .card {
  display: grid;
  grid-column: span 2;
  grid-row: span 3;
  gap: var(--grid-gap);
}
