:root {
  --grid-gap: 0.5rem;
}

/* === Global styles === */
html {
  box-sizing: border-box;
  text-wrap-style: pretty;
} 

*, *:before, *:after {
  box-sizing: inherit;
} 

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: max(25vw, 160px) 1fr;
  grid-template-rows: max-content 1fr;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  color: var(--color-body-text);
  background-color: var(--color-body-bg);
}

a {
  color: currentColor;
}

a:hover,
a:focus {
  color: var(--color-link-hocus-text);
}

.heading,
.cool-title {
  font-weight: 400;
  font-family: "Alfa Slab One", sans-serif;
}

code,
pre,
.code {
  font-family: "Fira Code", monospace;
  color: var(--color-code-text);
  background-color: var(--color-code-bg);
}

mark,
.highlight {
  padding: 0.25rem;
  color: var(--color-highlight-text);
  background-color: var(--color-highlight-bg);
}

mark a, 
.highlight a {
  color: var(--color-highlight-link);
}

.no-display {
  display: none;
}

.text-small {
  font-size: 0.75rem;
}

.no-list-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.h-list {
  display: flex;
  gap: var(--grid-gap);
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
}

.page-title {
  font-size: 1.75rem;
}

.page-title .page-title-link {
  text-decoration: none;
  color: var(--color-content-aside-text);
}

.cool-title-heading {
  margin-right: 0.5rem;
}

.cool-title {
  line-height: 3.5rem;
  box-decoration-break: clone;
  padding: 1rem;
  box-shadow: 1rem 1.3rem 0 var(--color-cool-title-shadow);
}

.card {
  border: 1px solid var(--color-card-border);
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
}

.card > [class*="card-"] {
  padding: 0.25rem 0.5rem;
}

.card-title {
  margin: 0;
}

.content-background {
  position: absolute;
  inset: 3rem 0.5rem 0;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  background-color: inherit; 
}

.content-aside :where(:not(.content-background)) {
  position: relative;
  z-index: 1;
}

.content-date,
.content-tags {
  font-size: 0.875rem;
}

:not(.content-body) :where(h2, h3, h4, h5, h6) {
  margin-top: 0;
}

.content-body :where(a),
.card-footer :where(a) {
  color: var(--color-link-text);
}

/* === Layout styles === */

.page-navigation {
  align-content: center;
}

body,
.content-body {
  container-type: inline-size;
}

.page-navigation,
.page-title,
.content-aside,
.content-body,
.content-body + .content-posts,
.page-aside,
.page-footer {
  padding: 0 0.5rem;
}

.page-header,
.page-content {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
}

.content-aside {
  position: relative;
  grid-row: span 2;
  grid-column: span 2;
}

.page-title,
.content-aside,
.page-aside {
  background-color: var(--color-content-aside-bg);
  color: var(--color-content-aside-text);
}

.content-body,
.content-body + .content-posts {
  padding: 0.5rem;
  max-width: 120ch;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: auto;
  gap: var(--grid-gap);
}

@container (max-width: 41.9rem) {
  .page-footer,
  .page-navigation {
    background-color: var(--color-content-aside-bg);
    color: var(--color-content-aside-text);
  }

  .page-navigation {
    text-align: right;
  }

  .content-body,
  .content-body + .content-posts,
  .page-aside,
  .page-footer {
    grid-column: span 2;
  }

  .page-aside {
    margin-top: 0.5rem;
    padding: 0.5rem 0;
  }

  .page-aside,
  .page-footer {
    text-align: center;
  }

  .cool-title-heading {
    margin-bottom: 3rem;
  }

  .social {
    justify-content: center;
  }
}

@container (min-width: 42rem) {
  .page-navigation,
  .page-title {
    border-bottom: 1px solid var(--color-content-border);
  }

  .page-title {
    border-bottom-color: var(--color-content-aside-border);
  }

  .page-title,
  .content-aside,
  .page-aside {
    border-right: 1px solid var(--color-content-aside-border);
  }

  .content-aside,
  .content-body {
    grid-column: span 1;
  }

  .page-content {
    justify-self: stretch;
    align-self: stretch;
  }

  .content-body,
  .content-body + .content-posts {
    padding: 0.5rem;
  }

  .page-footer,
  .page-aside {
    border-top: 1px solid var(--color-content-border);
  }

  .page-aside {
    padding-top: 0.5rem;
    border-top-color: var(--color-content-aside-border);
  }
}
