html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} 

body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
    "header navigation"
    "main main"
    "aside aside"
    "footer footer"
  ;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.page-header {
  grid-area: header;
}

.page-navigation {
  justify-self: right;
  text-align: right;
}

.page-navigation .navigation {
  padding: 0.5rem 0;
}

.page-content {
  grid-area: main;
}

.page-aside {
  grid-area: aside;
}

.page-footer {
  grid-area: footer;
}

/* Utility and common classes */

.no-list-style,
.h-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.h-list .list-item {
  display: inline-block;
}

.h-list .list-item + .list-item {
  margin-left: 1rem;
}

.no-list-style .list-item + .list-item {
  margin-top: 1rem;
}

.code {
  width: 100%;
  overflow-y: auto;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.no-display {
  display: none !important;
}

.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

@media print {
  .no-print {
    display: none !important;
  }
}

@media screen and (max-width: 63.9375rem) {
  body {
    align-items: center;
  }

  .page-header,
  .page-aside,
  .page-footer,
  .content-aside,
  .content-main {
    padding: 0.5rem 1rem;
  }

  .page-header {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 1fr;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .navigation-toggle:not(:checked) + .navigation {
    display: none;
  }

  .navigation {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100vw;
  }

  .navigation .list-item {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .page-content,
  .post-list {
    display: grid;
    grid-template-columns: subgrid;
  }

  .content-aside,
  .content-body,
  .post-list,
  .post-list .title {
    grid-column: span 2;
  }
}

@media screen and (min-width: 64rem) {
  body {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
      "main header"
      "main navigation"
      "main aside"
      "footer footer"
    ;
    position: relative;
    min-height: 100vh;
  }

  .page-header,
  .page-navigation,
  .page-aside {
    grid-column: 11 / 13;
  }

  .page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    grid-column: 1 / 5;
  }

  .page-content,
  .content-body,
  .post-list {
    grid-column: 1 / 11;
    display: grid;
    grid-template-columns: subgrid;
  }

  .content-aside {
    grid-column: span 4;
    grid-row: auto;
  }

  .content-main {
    grid-column: span 6;
    grid-row: auto;
  }

  .post-list {
    grid-column: 5 / 11
  }

  .post-list .title {
    grid-column: span 6;
  }

  .post-list .card {
    grid-column: span 3;
  }

  .navigation-toggle,
  .navigation-toggle-label {
    display: none;
  }
}
