:root {
  --color-white: #FAFAFA;
  --color-black: #212121;

  --color-indigo: #19183A;
  --color-cyan: #1FABAD;
  --color-powder: #FCEADE;
  --color-coral: #FF8A5B;
  --color-coral-translucent: #FF8A5B33;
  --color-bubblegum: #EA526F;

  --color-box-shadow: #19183A66;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: var(--color-powder);
  color: var(--color-indigo);
}

h1,
.heading {
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 400;
}

a,
.link {
  color: var(--color-cyan);
}

a:active,
a:visited
.link:active,
.link:visited {
  color: var(--color-bubblegum);
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: var(--color-coral);
}

code,
pre,
.code {
  font-family: "Fira Code", monospace;
}

.icon {
  fill: currentColor;
}

mark,
.highlight {
  background-color: var(--color-bubblegum);
}

.cool-title {
  box-shadow: 1rem 1.3rem 0 var(--color-white);
}

.title-link {
  text-decoration: none;
}

.content-aside {
  background-color: var(--color-bubblegum);
  color: var(--color-white);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}

.page-footer {
  background-color: var(--color-coral-translucent);
}

@media screen and (max-width: 63.9375rem) {
  .page-header,
  .page-navigation,
  .navigation {
    background-color: var(--color-bubblegum);
    color: var(--color-white);
  }

  .page-header a,
  .navigation-toggle-label,
  .navigation a,
  .content-aside a {
    color: currentColor;
  }

  .navigation-toggle:focus ~ .navigation-toggle-label {
    outline: 1px solid currentColor;
  }

  .navigation {
    box-shadow: 0 5px 5px var(--color-box-shadow);
  }

  .page-aside {
    background-color: var(--color-coral-translucent);
  }
}

@media screen and (min-width: 64rem) {
  .page-header,
  .page-navigation,
  .page-aside {
    background-color: var(--color-coral-translucent);
  }

  .title-link {
    color: currentColor;
  }

  .content-aside a {
    color: currentColor;
  }
}
