:root {
  /* https://coolors.co/423e3b-ff2e00-fea82f-fffecb-5448c8 */
  --color-charcoal: #423E3B;
  --color-gallery: #E3E3E3;
  
  --color-charcoal-translucent: #423E3B22;

  --color-body-text: var(--color-charcoal);
  --color-body-bg: var(--color-gallery);

  --color-link-text: var(--color-charcoal);
  --color-link-hocus-text: var(--color-charcoal);
  --color-link-active-text: var(--color-charcoal);
  --color-link-visited-text: var(--color-charcoal);

  --color-code-text: var(--color-charcoal);
  --color-code-bg: var(--color-charcoal-translucent);

  --color-highlight-text: var(--color-gallery);
  --color-highlight-bg: var(--color-charcoal);
  --color-highlight-link: currentColor;

  --color-quote-border: var(--color-charcoal);

  --color-cool-title-shadow: var(--color-charcoal-translucent);

  --color-card-border: var(--color-charcoal);
  --color-content-border: var(--color-charcoal);

  --color-content-aside-bg: var(--color-charcoal);
  --color-content-aside-text: var(--color-charcoal);
  --color-content-aside-link: currentColor;
  --color-content-aside-border: var(--color-gallery);
}
