:root {
    /*
        Colours
        Coolors Exported Palette - https://coolors.co/0d1b2a-e8e8e8-93a3b1-119da4-b3094b
    */
    --color-texas: 13, 27, 42;
    --color-wyoming: 232, 232, 232;
    --color-wash: 147, 163, 177;
    --color-tucker: 17, 157, 164;
    --color-simmons: 179, 9, 75;
    --color-caboose: 9, 93, 179;
}

body {
    background-color: rgba(var(--color-wash), 0.4);
    color: rgb(var(--color-texas));
}

svg {
    fill: currentColor;
}

a {
    color: rgb(var(--color-simmons));
}

pre {
    background-color: rgba(var(--color-texas), 0.05);
}

blockquote {
    border-left-color: rgba(var(--color-texas), 0.25);
}

a:hover,
a:focus {
    color: rgba(var(--color-caboose));
}

.title-link {
    color: rgba(var(--color-simmons), 0.75);
}

.content {
    background-color: rgba(var(--color-wyoming), 0.5);
}

.icon {
    color: rgb(var(--color-texas));
}

.icon--github:hover,
.icon--github:active {
    color: rgba(var(--color-texas), 0.75);
}

.icon--linkedin:hover,
.icon--linkedin:active {
    color: rgb(var(--color-caboose));
}

.icon--email:hover,
.icon--email:active {
    color: rgb(var(--color-simmons));
}

.card,
.card > * + * {
    border-color: rgba(var(--color-texas), 0.5);
}

@media screen and (prefers-reduced-motion: no-preference) {
    :root {
        /*
            Misc variables
        */
        --transition: 0.2s ease-out;
    }

    svg,
    a {
        transition: color var(--transition, 0.2s ease-out);
    }
}
