:root {
  --color-white: #fafafa;
  --color-black: #212121;

  --color-indigo: #19183A;
  --color-cyan: #1FABAD;
  --color-powder: #fceade;
  --color-coral: #ff8a5b;
  --color-bubblegum: #ea526f;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: var(--color-white);
  color: var(--color-indigo);
}

h1,
.heading {
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 400;
}

a,
.link,
.navigation-toggle-label {
  color: var(--color-cyan);
}

a:active,
a:visited
.link:active,
.link:visited,
.navigation-toggle:checked ~ .navigation-toggle-label {
  color: var(--color-bubblegum);
}

a:hover,
a:focus,
.link:hover,
.link:focus,
.navigation-toggle:focus ~ .navigation-toggle-label {
  color: var(--color-coral);
}

code,
pre,
.code {
  font-family: "Fira Code", monospace;
}

.icon {
  fill: currentColor;
}

.navigation {
  background-color: var(--color-white);
}

@media screen and (max-width: 63.9375rem) {
  .page-header {
    background-color: var(--color-white);
  }
}
