<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title }} | {{ site.subtitle }}</title>
        <meta charset="UTF-8"/>
        {% if site.meta %}
            {% for meta in site.meta %}
                <meta name="{{ meta.name }}" content="{{ meta.content }}" />
            {% endfor %}
            <meta name="theme-color" content="{{ theme.colors.light | findColor(theme.themeColor.light) }}" />
            <meta name="theme-color" content="{{ theme.colors.dark | findColor(theme.themeColor.dark) }}" media="(prefers-color-scheme: dark)" />
        {% endif %}
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32-dark.png" media="(prefers-color-scheme: dark)" />
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16-dark.png" media="(prefers-color-scheme: dark)" />
    </head>

    <body class="page-body min-h-screen grid grid-cols-[min-content_1fr] grid-rows-[max-content_1fr] justify-between place-items-start gap-5 md:w-[80vw]">
        <header class="page-header p-4">
            <h1 class="font-bold text-5xl">
                <a href="/" class="title-link">{{ site.title }}</a>
            </h1>
        </header>
        {% include 'navigation.njk' %}
        <main class="content md:max-w-[80ch] md:min-h-screen p-4">
            {{ content | safe }}
        </main>
        <aside class="page-aside print:hidden md:flex md:justify-between md:flex-col h-full p-4">
            <p class="mini-about">{{ site.description | safe }}</p>
            {% include 'contact.njk' %}
        </aside>
        <footer class="page-footer col-start-1 self-end p-4 text-sm">
            <p class="print:hidden">Icons from <a href="https://icomoon.io/app/" target="_blank" rel="noreferrer noopener">IcoMoon</a> and <a href="https://material.io/icons/" target="_blank" rel="noreferrer noopener">Material Design</a>.</p>
            <p class="print:hidden">Powered by <a href="https://www.11ty.dev" target="_blank" rel="noopener noreferrer">11ty</a>.</p>
            <small>&copy; Lyndsey Herbert {{ '' | currentYear }}, all rights reserved.</small>
        </footer>
        <div class="hidden">
            {% include 'images/icons/svg-symbols.svg' %}
        </div>
    </body>
</html>
