<!DOCTYPE html>
<html lang="en">
    <head>
        <title>lynds.dev | Lyndsey Herbert, Principal Developer</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style type="text/css">
            {% include 'css/layout.css' %}
        </style>
        <link rel="stylesheet" href="css/light.css" />
        <link rel="stylesheet" href="css/dark.css" media="screen and (prefers-color-scheme: dark)" />
        <meta name="theme-color" content="#B3094B" />
        <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32-dark.png" media="(prefers-color-scheme: dark)" />
        <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16-dark.png" media="(prefers-color-scheme: dark)" />
        <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png" media="(prefers-color-scheme: light)" />
        <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png" media="(prefers-color-scheme: light)" />
    </head>

    <body>
        <header>
            <h1 class="title">lynds.dev</h1>
        </header>
        <main>
            {{ content | safe }}
            <ul class="h-list social">
                <li class="h-list__item">
                    <a href="https://github.com/lyndsherb" target="_blank" rel="noreferrer noopener" title="Check out my projects on Github">
                        <svg role="img" class="icon icon--github">
                            <use xlink:href="#icon--github" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/lyndsey-herbert-98a865108/" target="_blank" rel="noreferrer noopener" title="View my employment history on Linkedin">
                        <svg role="img" class="icon icon--linkedin">
                            <use xlink:href="#icon--linkedin" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="mailto:website plus hello at lynds dot dev" target="_blank" rel="noreferrer noopener" title="Want to chat? Send me an email! (email is obfuscated for spam prevention)">
                        <svg role="img" class="icon icon--email">
                            <use xlink:href="#icon--email" />
                        </svg>
                    </a>
                </li>
            </ul>
        </main>
        <footer class="footer">
            <p>Icons from <a href="https://icomoon.io/app/" target="_blank" rel="noreferrer noopener">IcoMoon</a> and <a href="https://material.io/icons/" target="_blank" rel="noreferrer noopener">Material Design</a>.</p>
            <p>&copy; Lyndsey Herbert 2023, all rights reserved. Powered by <a href="https://www.11ty.dev" target="_blank" rel="noopener noreferrer">11ty.</a></p>
        </footer>
        <div class="no-display">
            {% include 'images/icons/icons-mini.svg' %}
        </div>
    </body>
</html>
