<article class="card w-1/2 border border-current rounded-sm flex flex-col">
    <header class="card-header border-b border-current p-2">
        <h3 class="card-title">
        {{ post.data.title }}
        </h3>
        <time datetime="{{post.data.date}}" class="card-time italic">{{ post.data.date | readableDate }}</time>
    </header>
    <div class="card-content border-b border-current p-2 grow-1">
        {% if post.data.description %}
            {{ post.data.description }}
        {% else %}
            {{ post.data.content | striptags(true) | escape | nl2br | truncate }}
        {% endif %}
    </div>
    <footer class="card-footer p-2">
        <a href="{{ post.url }}">Read article</a>
    </footer>
</article>
