---
layout: base.njk
---
{% if collections.post.length %}
    {% for post in collections.post | reverse %}
    {% if loop.index0 < 1 %}
        {% include './post-content.njk' %}
    {% endif %}
    {% endfor %}
    {% if collections.post.length > 1 %}
        <section class="post-list">
            <h3 class="post-list-title">Recent posts</h3>
            {% for post in collections.post | reverse %}
                {% if loop.index0 < 3 %}
                    {% if loop.index0 > 0 %}
                        {% include './card.njk' %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </section>
    {% endif %}
{% else %}
    No posts could be found. Is everything rendering as expected?
{% endif %}
