---
layout: base.njk
---
{% if collections.post.length %}
    {% for post in collections.post | reverse %}
    {% if loop.index0 < 1 %}
        <article>
            <header>
            <h2>
                {{ post.data.title }}
            </h2>
            {{ post.data.date | readableDate }}
            </header>
            <main>
            {{ post.data.content | safe }}
            </main>
        </article>
        {% endif %}
    {% endfor %}
{% else %}
Nothing found...
{% endif %}
