---
layout: base.njk
---
{% if collections.post.length %}
    {% for post in collections.post | reverse %}
    {% if loop.index0 < 1 %}
        <article class="post-content">
            <header>
            <h2 class="font-weight-600 text-4xl">
                {{ post.data.title }}
            </h2>
            <time datetime="{{post.data.date}}" class="italic">{{ post.data.date | readableDate }}</time>
            </header>
            <main>
            {{ post.data.content | safe }}
            </main>
            {# <footer>
                <a href="{{ post.url }}">Permalink</a>
            </footer> #}
        </article>
        {% endif %}
    {% endfor %}
    {% if collections.post.length > 1 %}
        <h2 class="font-weight-600 text-3xl print:hidden">Recent posts</h2>
        <section class="post-list flex space-x-4 print:hidden">
        {% for post in collections.post | reverse %}
            {% if loop.index0 < 3 %}
                {% if loop.index0 > 0 %}
                    {% include './card.njk' %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </section>
    {% endif %}
{% else %}
    No posts could be found. Is everything rendering as expected?
{% endif %}
