---
layout: base.njk
---
<h2>Recent posts</h2>
<section class="post-list flex flex-wrap justify-space-between">
  {% if collections.post.length %}
    {% for post in collections.post | reverse %}
      {% if loop.index0 < 5 %}
          {% include './card.njk' %}
        {% endif %}
    {% endfor %}
  {% else %}
    <p>No posts found...</p>
  {% endif %}
</section>
