---
layout: base.njk
---
<h2>Recent posts</h2>
<section class="post-list">
  {% if collections.post.length %}
    {% for post in collections.post | reverse %}
      {% if loop.index0 < 5 %}
          <article class="card">
            <header class="card-header">
              <h3>
                {{ post.data.title }}
              </h3>
              <timedate class="card-time">{{ post.data.date | readableDate }}</timedate>
            </header>
            <div class="card-content">
                {% if post.data.description %}
                  {{ post.data.description }}
                {% else %}
                  {{ post.data.content | striptags(true) | escape | nl2br | truncate }}
                {% endif %}
            </div>
            <footer class="card-footer">
              <a href="{{ post.url }}">Read article</a>
            </footer>
          </article>
        {% endif %}
    {% endfor %}
  {% else %}
    <p>No posts found...</p>
  {% endif %}
</section>
