---
import "/public/styles/global.css"
import "/public/styles/utility.css"

import Navigation from "../components/navigation.astro"

const { title } = Astro.props;

const pageTitle = title ? `${title} | lynds.dev` : `lynds.dev`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="icon" type="image/x-icon" href="/images/favicons/favicon.ico" />
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32-dark.png" media="(prefers-color-scheme: dark)" />
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16-dark.png" media="(prefers-color-scheme: dark)" />
		<link rel="stylesheet" type="text/css" href="/styles/light.css" />
		<link rel="stylesheet" type="text/css" href="/styles/dark.css" media="(prefers-color-scheme: dark)" />
	</head>
	<body>
		<header class="page-header">
			<h1 class="title">
				<a href="/" class="title-link">lynds.dev</a>
			</h1>
		</header>
		<main class="content">
			<slot /> 
		</main>
		<aside class="page-aside no-print">
			<p class="mini-about">site description</p>
		</aside>
		<Navigation />
		<footer class="page-footer">
				<p class="no-print">Icons from <a href="https://icomoon.io/app/" target="_blank" rel="noreferrer noopener">IcoMoon</a> and <a href="https://material.io/icons/" target="_blank" rel="noreferrer noopener">Material Design</a>.</p>
				<p class="no-print">Powered by <a href="https://www.astro.build" target="_blank" rel="noopener noreferrer">Astro</a>.</p>
				<p>&copy; Lyndsey Herbert {(new Date()).getFullYear()}, all rights reserved.</p>
		</footer>
		<div class="no-display">
				SVGs go here
		</div>
	</body>
</html>
